<div *ngFor="let post of posts; let i = index">
  <li [ngClass]="{'list-group-item': true,
    'list-group-item-success': post.loveIts > 0,
    'list-group-item-danger': post.loveIts < 0
    }">
    <div class="ladiv">
        <h4>{{ post.title }} </h4>
        <h4 class="test">{{getDate() | date:'dd MMMM  y' }}</h4>.
    </div>
    <button class="btn btn-default pull-right" (click)="onDeletePost(post)">
      <span class="glyphicon glyphicon-minus"></span>
    </button>

    <p>{{ post.content }}</p>
    <button class="btn btn-sm btn-success"
            (click)="like(i)">J'aime</button>
    <button class="btn btn-sm btn-danger"
              (click)="dislike(i)">J'aime pas</button>
              <button type="button" class="btn btn-sm btn-sm"
              >{{post.loveIts}}</button>
  </li>
</div>

